{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="img-responsive center-block" src="{{ asset('bundles/app/img/logo.jpg') }}" alt="Teicar carroceries">
            <h1 class="text-hide">Teicar carreoceries</h1>
        </div>
    </div>
{% endblock %}
