{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-responsive center-block" src="{{ asset('bundles/app/img/la-llavor-small.jpg') }}" alt="La Llavor">
                <hr>
                <h2 class="no-m-top">Teicar</h2>
                <address>
                    C. Jardí, 5<br>
                    43870 Amposta<br>
                    (Tarragona)<br>
                </address>
                <h5><i class="fa fa-phone" aria-hidden="true"></i> </h5>
                <p><a href="mailto:"></a></p>
                <h1 class="text-hide"></h1>
            </div>
        </div>
    </div>
{% endblock %}
