// Imports
@import "../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "../../../../../vendor/components/font-awesome/less/font-awesome.less";

// Colors
@red:         #E1261C;
@white:       #FFFFFF;
@grey:        #888888;
@black:       #1F1F1F;

// Variables
@gap-extra-big: @gap-big * 2;
@gap-big:       @gap-normal * 2;
@gap-normal:    20px;
@gap-small:     @gap-normal / 2;
@c-font-size-base:  16px;
@c-font-size-large: ceil((@font-size-base * 1.25));
@c-font-size-small: ceil((@font-size-base * 0.95));

// Fonts
@icon-font-path: "/bundles/app/fonts/";
@fa-font-path:   "/bundles/app/fonts";

// Customs
.no-m-top { margin-top: 0 }
.no-m-bottom { margin-bottom: 0 }
.extra-m-top { margin-top: @gap-extra-big; }
.c-red { color: @red; }
.container.layout { min-height: 500px; }

// Footer
footer {
  background-color: @black;
  color: @white;
  padding: 40px 0;
  a {
    color: @white;
    &.underlined { text-decoration: underline; }
    &:hover {
      color: @red;
      text-decoration: none;
      &.underlined { text-decoration: underline; }
    }
  }
}
